/* Globel Rulls */
:root {
    --main-color: #fcb700;
    --dark-color: #222222;
    --parg-color: #666666;
    --dark-red: #d01418;
    --border-color: #6666662a;
    --name-item: #0066c0;
    --white-color: #fff;
    --main-transition: 0.5s ease-in-out;
}

.contact-us .contact{
    width: 600px;
    padding: 25px 40px;
    margin: 0 auto 30px;
    border-radius: 5px;
    background-color: var(--white-color);
}
.contact-us .contact h1{
    font-size: 50px;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--main-color);
}
.contact-us .contact h3{
    font-size: 17px;
    font-weight: 400;
    color: var(--dark-color);
}
.contact-us .contact form{
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact-us .contact form input,
.contact-us .contact form textarea {
    padding: 12px 15px;
    border-radius: 5px;
    font-size: 18px;
    border: 1px solid #c0c0c0;
    outline: 0;
}

.contact-us .contact form input:focus,
.contact-us .contact form textarea:focus {
    border-color: var(--main-color);
}
.contact-us .contact form textarea{
    height: 200px;
    resize: none;
}
.contact-us .contact form button{
    width: fit-content;
    padding: 10px 30px;
    margin-left: auto;
    border-radius: 5px;
    border: 0;
    outline: 0;
    font-size: 18px;
    text-transform: capitalize;
    color: var(--white-color);
    border: 1px solid transparent;
    background-color: var(--main-color);
    transition: var(--main-transition);
    cursor: pointer;
}
.contact-us .contact form button:hover{
    color: var(--dark-color);
    background-color: transparent;
    border: 1px solid var(--main-color);
}

/* Responsive */
@media (max-width: 700px){
.contact-us .contact{
    width: 90%;
    padding: 25px 40px;
}
.contact-us .contact h1{
    font-size: 35px;
}
.contact-us .contact h3{
    font-size: 16px;
}
.contact-us .contact form{
    margin-top: 30px;
    gap: 20px;
}
}